<!DOCTYPE html>
<html>
<head>
    
    <title>Contact us</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    
</head>
<body>

    <%- include ('partials/nav.ejs'); -%>
    <h1>Hello Boys..!</h1>
    <p>Department : <%=qs.dept%></p>
    <p>Name : <%=qs.name%></p>
    <p>Thanx for contacting us...!</p>
    
</body>
</html>