<!DOCTYPE html>
<html>
<head>
    

    <title>Home</title>
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    
    
</head>
<body>

    <%- include ('partials/nav.ejs'); -%>
    <h1>Hello Boys..!</h1>
    <p>I am Nightking</p>
    
</body>
</html>